
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
 	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ALL PAGES  */

p {
    line-height: 2em; 
}

#button {
    float: left;
    height: 3em; 
    width: 6em;  
}

#button:hover {
    background-color: yellow; 
}

body {
    background-color: #555555;
    /* slightly darker background looks better  */
    color: black;
    text-align: center; 
}

#wrapper {
    float: center;
    margin: 10px auto;  
    width: 90%;
    text-align: center;  
}

#banner {
    background-color: none;
    border: .1em inset red;
    height: 9em;    
    margin: 5px auto; 
    padding; 5px; 
}

#logo {
    background-color: none;
    margin: 5px auto; 
    padding: 1em;  
    border: red 2em;
    width: 50px;
    float: right; 
    display: block;    
}
/* logo and button borders aren't working...  */

#menuButton {
    float: left;
    border: 1em yellow;
    margin: 5px auto;  
    background-color: none;  
}

#menuExpanded {
    background-color: #787878; 
    float: left;
}

.landingDiv {
    border: 0.25em inset black; 
    margin: 5px auto;
    float: center; 
    text-align: center; 
    border-radius: 15px; 
    max-width: 30em;  
    color: #f0f0f0; 
    outline: none; 
    background-color: #bbbbbb; 
}

h1 {
    font-size: 3em;  
    margin: 10px auto;
    line-height: 1.5em;  
}

h2 {
    font-size: 2em; 
    margin: 1em auto; 
}

a {
    text-decoration: none;  
    color: black ; 
    outline: none; 
    border: none; 
}

a:visited {
    text-decoration: none; 
    outline: none; 
    border: none; 
}

a:hover {
    text-decoration: none; 
    outline: none; 
    border: none; 
    background-color: #454545;
}

a:active {
    text-decoration: none; 
    outline: none; 
    border: none; 
}

br {
    line-height: 2em; 
}












