/*  wreaths.css 

/*css reset section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset*/
/*all pages*/

*{
    font-family: serif; 
}


:root {
    --handmade-border1: 50% 10px 100% 40px;
    --handmade-border2: 23px 67% 44px 19%;
    --handmade-border3: 22% 62px 72% 26px;
    --handmade-border4: 88px 38% 98px 46% ;
    --handmade-border5: 35% 47px 59% 38px ;
}



h1 {
    font-size: 3em;
    text-shadow: 1px 1px blue; 
    font-weight: bold;
    margin: 10px auto;   
}

h2 {
    font-size: 2.25em; 
    font-weight: bold;
}

h3 {
    font-size: 1.5em; 
    margin: 5px auto; 
    font-weight: bold;
    text-shadow:1.25px 1.25px #444499;
}

#welcomeBanner {
    padding: 0px; 
    width: 100%; 
    margin: 60px auto; 
}


#bgDivIndex {
    background-image: url('wreathPics/otherPics/waterfall1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: fixed; 
    opacity: 0.5;
    background-position: center;
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: -1; 
} 

#bgDivGallery {
    background-image: url('wreathPics/otherPics/waterfall2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: fixed; 
    margin: 0px;
    opacity: 0.5;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

#bgDivOrder {
    background-image: url('wreathPics/otherPics/waterfall3.jpg');
    background-repeat: no-repeat;
    margin: 0px;
    background-attachment: fixed; 
    position: fixed; 
    opacity: 0.5;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

#bgDivContact {
    background-image: url('wreathPics/otherPics/waterfall5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: fixed; 
    margin: 0px;
    opacity: 0.5;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1; 
}


#homeBackground {
    position: fixed; 
    opacity: 0.5;
    margin: 5px auto; 
    width: 100%;
    height: 1000px;     
    z-index: -1; 
    
}

.banner {
    font-size: 30px; 
    width: 100%;
    font-family: sans-serif; 
    font-weight: bold; 
    padding: 2px; 
    margin: 10px auto; 
}

p {
    border-radius: 20px; 
    font-size: 1em;
    background-color: #dddddd; 
    padding: 20px; 
    width: 300px; 
    max-width: 100%;
    margin: 10px auto; 
}

#wrapper {
    width: 95%;
    height: 100%;
    margin: auto;
    text-align: center;
}

button {
    margin: 20px;
    font-size: 25px; 
}

#homeList {
    font-size: 1.25em; 
	text-align: center;
    min-width: 200px; 
    max-width: 400px; 
	margin: auto;
    background-color: #ccaaff;
    border-radius: 20px; 
}

li {
    margin: 5px; 
    display: block; 
    font-weight: bold;
}


#bizCard {
    display: block; 
    margin: 40px auto; 
    height: 200px; 
    width: 375px; 
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px; 
}

.extraImage {
    border-radius: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 2;
    height: 50px; 
    width: 50px; 
    opacity: 0.55;
    float: left; 
    clear: right; 
    display: inline; 
}

#briefProductListDiv {
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 400px; 
}

/*end all pages section*/
/*nav section*/


a:link {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a:active {
    text-decoration: none;
    outline: none;
}

a:visited {
    text-decoration: none;
    outline: none;

}

#nav {
    margin: 10px auto;
    padding: 20px; 
    text-align: center; 
}

.navButton {
    font: 25px bold;
    border-radius: 10px; 
    padding: 10px; 
    text-align: center; 
    display: inline-block;
    margin: 0px; 
    color: #dddddd; 
    background-color: #222222; 
    border: 2px solid black; 
    box-shadow: 3px 3px 3px 3px #000077; 
}

.navButton:hover {
    box-shadow: 2px 2px 2px 2px #330055; 
    background-color:  #444444;
}

#nav li {
    display: inline-block;
    position: relative; 
    margin: 5px;
    font-family: serif;
    font-size: 30px;
    font-style: bold;
}


/*end nav section*/


/*home page*/

#briefProductListDiv {
    margin: 20px auto; 
    width: 40%; 
}


/*end home page*/
/*contact page*/


#contactform {
}

input {
    display: block;
    max-width: 100%;
    margin: auto;
    height: 2em; 
    border: 2px solid black; 
}

label {
    display: block;
    min-width: 200px; 
    text-shadow: 2px 2px #55aaff;
    max-width: 300px;
    border-radius: 5px; 
    margin: auto;
    text-decoration: underline;
    font-style: bold;
    font-size: 30px; 
}

.radio {
    display: inline;   
}

ul {
    list-style-type: none;
}

.contactInfo {
    font-size: 30px; 
}


/*end contact page*/
/*gallery page*/


img {
    border-radius: 50px;
    margin: 5px auto;
    display: block;
}

#galleryDiv {
    border-radius: 90px;
    margin: 5px auto; 
}


/*   end gallery page   */
/*order page*/


#orderForm p {
    font-size: 1em;
    border-radius:  10px;
    background-color: #eee;
}
#orderForm input {
    margin: 5px auto 20px auto;
    max-width: 100%
}

#orderForm label {
    margin: 1.25em auto 1px auto;
}

textarea, input {
    margin: 20px auto 20px auto;
    max-width: 100%;
}


/*end order page*/
/*if screen is smaller than 600px wide*/

@media screen and (max-width: 800px) {
    .navButton {
        font: 25px bold;
        border-radius: 10px; 
        padding: 10px; 
        text-align: center; 
        display: block;
        margin: 15px; 
        color: #dddddd; 
        background-color: #222222; 
        border: 2px solid black; 
        box-shadow: 3px 3px 3px 3px #000077; 
    }

}

@media screen and (max-width: 400px) {
    }



